<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Login!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }} 
            <style>
            @media screen and (max-width: 990px) {
                .login_box_img{
                    display: none;
                }
            }
            </style>
        {% endblock %}
<body>
	<section class="login_box_area section_gap">
    
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{{ asset('img/login.jpg')|imagine_filter('detail') }}" alt="">
					</div>
				</div>

				<div class="col-lg-6">
					<div class="login_form_inner">
                        <h3>Administrateur</h3>
						<form class="row login_form" method="post" novalidate="novalidate">

                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}

                            {% if app.user %}
                                <div class="mb-3">
                                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                                </div>
                            {% endif %}

                            <div class="col-md-12 form-group">
								 <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="Email" required autofocus>
							</div>
							<div class="col-md-12 form-group">
                                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" placeholder="Password" required>
                                <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                                >
 							</div>
							<div class="col-md-12 form-group">
								
							</div>
                            
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Se Connecter</button>
								
							</div>
                            
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

    	<!--================End Login Box Area =================-->

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
        {% block javascripts %}
           {{ encore_entry_script_tags('app') }} 
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>   

            <script src={{ asset('js/vendor/jquery-2.2.4.min.js') }}></script>  
            <script src={{ asset('js/jquery.magnific-popup.min.js') }}></script>
            <script src={{ asset('js/vendor/bootstrap.min.js') }}></script>
            
        {% endblock %}

</body>





