
	<div class="container mt-5" id="catalogue">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Catégories</div>
					<ul class="main-categories">
	
								<li class="main-nav-list">
                                	<a href="{{ path('home') }}" 
									aria-expanded="false" aria-controls="fruitsVegetable">
									<span class="lnr lnr-arrow-right"></span><strong>Tous les articles</strong>
									</a>  
								</li>
							{% for categorie in categorieNavbar() %}
								<li class="main-nav-list">
                                	<a href="{{ path('article_categorie', {'slug': categorie.slug}) }}" 
									aria-expanded="false" aria-controls="fruitsVegetable">
									<span class="lnr lnr-arrow-right"></span>{{ categorie.nom }}
									</a>  
								</li>
                            {% endfor %}
<!--
						<li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span
								 class="lnr lnr-arrow-right"></span>Fruits and Vegetables<span class="number">(53)</span></a>
							<ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">
								<li class="main-nav-list child"><a href="#">Frozen Fish<span class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">Dried Fish<span class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">Fresh Fish<span class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">Meat Alternatives<span class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">Meat<span class="number">(11)</span></a></li>
							</ul>
						</li>
-->

					</ul>
				</div>
			</div>

			<div class="col-xl-9 col-lg-8 col-md-7" style="margin-bottom:5em;">

				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
			    <div style="text-align:center;">
					{{ form_start(form) }}

					{{ form_errors(form) }}

					<div class="col-8" style="display:inline-block;">{{ form_row(form.mots) }}</div>

					<button class="btn btn-warning mb-1 ml-3" style="display:inline-block;">Rechercher</button>
					{{ form_end(form) }}
				</div>
				
					<div class="row">

						{% for article in articles %}
							<!-- single product -->
							<div class="col-lg-3 col-md-6 col-sm-9">
								<a style ="text-decoration:none; color:black;" href="{{ path('article_details', {'slug': article.slug}) }}">
									<div class="single-product">
										<div class="card text-center">
											<img class="img-fluid" src={{ vich_uploader_asset(article, 'imageFile')|imagine_filter('img_catalogue') }} alt="Card image cap">
											<div class="card-body">
												<h5 class="card-title">{{ article.nom }}</h5>
												<p class="card-text">ref: {{ article.reference }}</p>
											</div>
										</div>				
									</div>
								</a>
							</div>	

						{% endfor %}
	
					</div>
			
	
			    
				</section>

				<div class="pagination pagination-sm justify-content-center">
                      {% do articles.setPageRange(2) %}
                      {{ knp_pagination_render(articles, 'base/pagination.html.twig') }}
                </div>
			</div>

		</div>
	</div>
