{% extends 'base.html.twig' %}
{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">

                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                    <a class="postcard__img_link" href="#">
                        <img class="card-img img-fluid" src={{ vich_uploader_asset(article, 'imageFile')|imagine_filter('detail')  }} alt="Card image cap" id="img" />
                    </a>
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">

                            {% for categorie in article.categorie %}
                                <p class="h6 py-2">{{ categorie.nom }}</p>   
                            {% endfor %}
                           
                            <h1 class="h2">{{ article.nom }}</h1>
                           

                            <h6>Description :</h6>
                            <p>{{ article.description }}</p>
                            <h6>Offre promotionnelle :</h6>
                            <p>{{ article.offre }}</p>
                            <p>Réf: {{ article.reference }}</p>

                            {% if article.pdf is not null %}
                                <p><a href={{ vich_uploader_asset(article, 'pdfFile') }}>Fiche Technique</a></p>
                            {% endif %}
                            
                        </div>

                    </div>

                   <p style="text-align:end; margin-top:1em;"><a href="#" onclick="history.go(-1)">Retour</a></p>

                </div>
            </div>
        </div>
    </section>
    <!-- Close Content -->

{% endblock %}

