<!-- start footer Area -->
	<footer class="footer-area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-4  col-md-8 col-sm-10" style="line-height:0.8em; color:#ffff;">
			
				<img class="img-fluid"style="width:25em; margin-bottom:2em;" src="{{ asset('/img/logo_waco.png')|imagine_filter('logolarge') }}" >
					<p>108 rue general de gaulle</p>
					<p>13011 Marseille</p>
					<p>Tél : 04.00.00.00.00</p>

			</div>
				<div class="col-lg-4  col-md-8 col-sm-10">	
						<h6>En partenariat avec :</h6>
						<img style="width:10em; margin-right:1em;"src="{{ asset('img/SANITEC.jpg')|imagine_filter('logo') }}">
						<img style="width:8em;"src="{{ asset('img/arbreVert.png')|imagine_filter('logo') }}">
				</div>

				<div class="col-lg-4  col-md-8 col-sm-10" style="margin-top:3m;">
				
					<h6>Aux Normes :</h6>
					<img style="width:10em;" src="{{ asset('img/ecolabel.jpg')|imagine_filter('logo') }}">
					<img style="width:10em;" src="{{ asset('img/haccp.png')|imagine_filter('logo') }}">

				</div>
				
			</div>

			<div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
<p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by 
<a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
</p>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

