
	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a href={{ path('home') }}>
					<img class="" style="width:10em;" src="{{ asset('/img/logo_waco.png')|imagine_filter('logolarge') }}" >
					</a>
					

					<!-- Collect the nav links, forms, and other content for toggling -->
						<ul class="nav navbar-nav menu_nav ml-auto d-flex flex-wrap" style="margin-right:5em;">
							<li style="font-size:0.9em;"><strong><i style="color:black; margin-left:4em;">Pour tous renseignements n'hésitez pas à nous contacter !</i><br>
							<span>Tél : &#127467;&#127479; (+33) {{ admin.telephone }}</span>
							<span style="margin-left:2em;">
							<a style="color:#777777; font-weight:800;" href="mailto:{{ admin.mail }}">Email : {{ admin.mail }}</a>
							</span></strong></li>
						</ul>
				</div>
			</nav>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end" style="margin-right:2em;">
				<div class="col-first">
					<h1>Catalogue Waco 2022</h1>
					<h4 style="margin-left:2em; color:#777777;">Uniquement pour les Professionnels</h4>
				</div>

			</div>
			
		</div>
			<div style="text-align:center; background-color:#ffff; padding-top:1em; border: 0.5rem solid #ff6c00; color:black;">
			<!--		<h5>
					Nous proposons le STOCKAGE de vos marchandises gratuitement sans limite de temps afin 
					que vous puissiez profiter de nos offres promotionnelles <br> 
					et la LIVRAISON est OFFERTE partout la France ! 
					</h5>
			-->
				<h5>{{ admin.texteAccueil }}</h5> 
			</div>
			

	</section>
	<!-- End Banner Area -->