{% extends '@EasyAdmin/page/content.html.twig' %} 

{% block content %}
    <div class="jumbotron ml-5">
        <h1 class="display-4">Administration</h1>
        <p class="lead mt-2">Bienvenue dans l'interface d'administration du Catalogue Waco.</p>
    </div>
{% endblock %}