<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }} 
        {% endblock %}

        {% block javascripts %}
           {{ encore_entry_script_tags('app') }} 
           
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>   

            <script src={{ asset('js/vendor/jquery-2.2.4.min.js') }}></script>  
            <script src={{ asset('js/jquery.magnific-popup.min.js') }}></script>
            <script src={{ asset('js/vendor/bootstrap.min.js') }}></script>
            
        {% endblock %}
    </head>
    <body>
        {% include 'base/nav.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'base/footer.html.twig' %}
    </body>
</html>
