<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
xmlns:image="http://www.google.com/schemas/sitemap-image/1.1">

    {% for url in urls %}
        <url>

            <loc>{{ hostname }}{{ url.loc }}</loc>

            {% if url.lastmod is defined %}
                <lastmod>{{ url.lastmod }}</lastmod>
            {% endif %}

            {% if url.image is defined %}
                <image:image>
                    <image:loc>
                    {{ hostname }}{{ url.vich }}{{ url.image }}
                    </image:loc>
                    <image:title>{{ url.nom }}</image:title>
                </image:image>
            {% endif %}

        </url>
    {% endfor %}

</urlset> 
